@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: #2B292D;
}

a {
    color: #2B292D;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pink-hero {
    padding-top: 30px;
    background: #F3C6BD;
}

.hero-wrapper, .logo-nav, .grey-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.hero-wrapper {
    position: relative;
}

.top-part {
    background: #F3C6BD;
    padding-top: 3em;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
}

.delimiter, .menu-opener {
    display: none;
}

.logo {
    display: flex;
}

.icon {
    width: 75px;
    margin: -5px 5px 2px -7px
}

.logo-text {
    font-size: 21px;
    line-height: 30px;
}

.logo-comment {
    color: rgb(109, 108, 108);
}

.nav-bar {
    display: flex;
    margin: auto;
    font-size: 20px;
}

nav li a{
    padding-right: 2.5em ;
}

.library {
    margin-right: -35px;
}

.arrow {
    transform: rotate(180deg);
    font-size: .8em; 
    margin-left: -50px;
}

.nav-bar::before {
    content: '';
    position: absolute;
    height: 6px;
    width: 60px;
    background: #C4C4C4;
    top: 3.7em
}

button {
    background-color: white;
    color: #3040C4;
    border: none;
    padding: 13px 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05), 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

#nav-button, #button-content-start {
    background-color: #3040C4; 
    color: white;
}

#nav-button {
    margin-top: -20px;
    margin-left: 3em
}

.buttons-content {
    display: flex;
    padding-top: 20px;
    padding-bottom: 140px;
}

#button-content-start {
   margin-right: 10px;
}

.header-content {
    font-size: 85px;
    font-weight: bold;
    line-height: 100px;
    letter-spacing: -0.5px;
    width: 830px;
    position: relative;
    top: 12px;
    z-index: 1;
}

.subtitle-content {
    font-size: 25px;
    line-height: 40px;
    width: 500px;
    position: relative;
    top: -10px;
    z-index: 1;
}

.big-image {
    position: absolute;
    right: -110px;
    top: 10px;
    width: 70%
}

.grey-part {
    background-color: #F4F5F7;
}

.grey-wrapper {   
    display: flex;
}

.blocks {
    font-size: 24px;
    line-height: 40px;
    margin-top: 80px;
    margin-right: 30px;
    margin-bottom: 80px
}

@media (max-width: 700px) {
    .top-part {
        padding: 0;
        background: white;
    }

    .logo-nav {
        margin: auto;
        padding: 0;
        width: 320px;
        position: relative;
        box-shadow: 0px 4px 16px rgba(44, 50, 65, 0.08);
    }

    .delimiter, .menu-opener {
        display: initial;
        position: absolute;
    }

    .delimiter {
        right: 60px;
    }

    .menu-opener {
        right: 20px;
        top: 25px;
    }

    .logo-text {
        margin: auto 0;
    }

    .nav-bar, .logo-comment {
        display: none;
    }

    .icon {
        width: 54px;
        margin: 5px;
    }

    .pink-hero {
        padding-top: 0;
        background: #F3C6BD;
    }
    
    .hero-wrapper, .grey-wrapper {
        max-width: 320px;
    }
    
    .content {
        padding: 10px;
    }

    .header-content {
        font-size: 50px;
        line-height: 50px;
        width: 100%;
    }
    
    .subtitle-content {
        width: 100%;
        margin-top: 50px;
    }

    .buttons-content {
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 30px;
    }

    button {
        width: 100%;
    }

    #button-content-start {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .big-image {
        width: 100%;
        position: unset;
        padding-bottom: 30px;
    }

    .grey-wrapper {
        padding: 10px;
        margin: 0 auto;     
        flex-direction: column;
        padding-bottom: 40px
    }

    .blocks {     
        margin-right: 0px;
        margin: 40px 0;
        margin-bottom: -10px;
    }

}

